<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HuluSearchAlbum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1935197E1E91EA9800333AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>193519951E91EA9900333AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>193519A01E91EA9900333AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
